<strong>ABOUT US COMPONENT</strong>

<div class="image">
    <img [src] = "imgurl">
</div>

<div class="headings">
    <label>Corporate Profile</label>
</div>

<div class="frame">
    <div class="description">
    <p align="justify">Onward Technologies is a leading global player in Mechanical Engineering Design and IT Consulting, 
        listed at both Bombay Stock Exchange (BSE: 517536) and National Stock Exchange (NSE: ONWARDTEC). 
        Onward helps global organizations address their engineering needs and challenges through a wide range of 
        engineering design solutions and services that include Product design, Engineering analysis, Manufacturing engineering solutions, 
        and Engineering change management. We offer our services to a wide spectrum of industries, including Automotive, Off-Highway, 
        Aerospace, Industrial Equipment, Consumer and Healthcare sectors. We have developed expertise across these domains and no matter 
        which platform our customer adopts, Onward can gear up with the requisite cross functional skills.
    </p>
    <p align="justify">
            Over the years, we have mastered the best practices and have fine-tuned our global delivery model for the engineering 
            services space. 
            Our engagement model with our customers ensures complete transparency and client IP (intellectual property) protection. 
            A competent team with strong domain and project execution skills coupled with a customer focused strategy has earned us 
            global marquee clients and helped them transform their businesses to reach greater heights. Onward's long standing success 
            has been achieved through its unique blend of competitive advantage, innovative solutions, sustainable growth and ownership 
            with proven performance.</p>
    </div> 
</div>

