<!-- <strong>This is {{title}}</strong> -->

<div class="container">
  <div class="row">
          <div class="col-md-4">
            <mat-card>
              <mat-card-title><strong>Software Development</strong></mat-card-title>
              <mat-card-subtitle>Programming Languages</mat-card-subtitle>
              <mat-card-content> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Repellat placeat error soluta nulla quod beatae. Suscipit perferendis, recusandae natus porro nobis, 
                sequi illum nihil vitae eos, voluptatum animi inventore vel? </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4">
              <mat-card>
                <mat-card-title><strong>IT & Software</strong></mat-card-title>
                <mat-card-subtitle>Technologies</mat-card-subtitle>
                <mat-card-content> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Repellat placeat error soluta nulla quod beatae. Suscipit perferendis, recusandae natus porro nobis, 
                    sequi illum nihil vitae eos, voluptatum animi inventore vel? </mat-card-content>
              </mat-card>
          </div>
          <div class="col-md-4">
              <mat-card>
                <mat-card-title><strong>Office Productivity</strong></mat-card-title>
                <mat-card-subtitle>Milestones</mat-card-subtitle>
                <mat-card-content> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Repellat placeat error soluta nulla quod beatae. Suscipit perferendis, recusandae natus porro nobis, 
                    sequi illum nihil vitae eos, voluptatum animi inventore vel? </mat-card-content>
              </mat-card>
            </div>
        </div>
</div>

<app-test2 [parentData]="name"></app-test2>
